.main{
    background: #DCDADA;
    background-size: cover;
    width: 100vw;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
.content{
    margin-left:1000px;
    font-family: "Roboto Slab", Thin;
    padding-top: 30px;
    text-shadow: 1px 2px 2px #000000;
}
.container{
    margin-left:600px;
    margin-top: 30px;
    font-family: "Saira", Extra-light;
}
.button-edit{
    margin-left: 360px;
    margin-top: 90px;
       
}
.button-edit2{
    margin-left: 360px;
    margin-top: 20px;
       
}
.btn{
    width: 300px;
    height: 30px;
    padding-top: 1px;
}
input{
    width: 1050px;
    padding-left: 10px;
}
label{
    font-size: 12px;
}


@media screen and (max-height: 764px) {
    .content {margin-left: 840px;}
    input{width: 700px;}
    .button-edit{
        margin-left: 185px;
        margin-top: 90px;
    }
    .button-edit2{
        margin-left: 185px;
        margin-top: 20px;
           
    }
  }