<div class="main">
    <div class="content">
            <h1>PERSONAL DETAILS</h1>   
    </div>
    <div class= "content-detail">
        <label>ชื่อ</label>
        <p>Apichet</p>
        <label>นามสกุล</label>
        <p>Sittipon</p>
        <label>ชื่อเล่น</label>
        <p>Dew</p>
        <label>วันเกิด</label>
        <p>27/09/1999</p>
        <label>อายุ</label>
        <p>21</p>
        <label>ความสูง</label>
        <p>176</p>
        <label>น้ำหนัก</label>
        <p>70</p>
        <label>กรุ๊ปเลือด</label>
        <p>B</p>
        <label>ที่อยู่</label>
        <p>40/1  Sungmen District , Phrae Province</p>
        <label>E-MAIL</label>
        <p>as.dew2542@hotmail.com</p>
        <label>เบอร์โทร</label>
        <p>0612830342</p>
        <label>งานอดิเรก</label>
        <p>Play Football</p>
    </div>
    <div class="button-edit">
        <button type="button" class="btn btn-primary " routerLink='/person-edit'>EDIT</button>
    </div>
    
</div>