<div class="main">
    <div class="content">
            <h1>PERSONAL DETAILS</h1>   
    </div>
    <div class= "content-detail">
        <label>ชื่อ</label>
        <p>{{personal.personal_first_name}}</p>
        <label>นามสกุล</label>
        <p>{{personal.personal_last_name}}</p>
        <label>ชื่อเล่น</label>
        <p>{{personal.personal_nickname}}</p>
        <label>วันเกิด</label>
        <p>{{personal.personal_birthday}}</p>
        <label>อายุ</label>
        <p>{{personal.personal_age}}</p>
        <label>ความสูง</label>
        <p>{{personal.personal_height}}</p>
        <label>น้ำหนัก</label>
        <p>{{personal.personal_weight}}</p>
        <label>กรุ๊ปเลือด</label>
        <p>{{personal.personal_blood_type}}</p>
        <label>ที่อยู่</label>
        <p>{{personal.personal_address}}</p>
        <label>E-MAIL</label>
        <p>{{personal.personal_email}}</p>
        <label>เบอร์โทร</label>
        <p>{{personal.personal_tel}}</p>
        <label>งานอดิเรก</label>
        <p>{{personal.personal_hobby}}</p>
    </div>
    <div class="button-edit">
        <button type="button" class="btn btn-primary " routerLink='/person-edit'>EDIT</button>
    </div>
    
</div>